.root {
	width: 500px;
	padding: 30px 50px;
	border: 1px solid #dedede;
	margin: 50px auto 30px;
}

.field {
	margin-bottom: 20px !important;
}

.title {
	text-align: center !important;
	font-weight: bold !important;
	margin-bottom: 30px !important;
}

.avatar {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
