.App {
	height: 100%;
	width: 100%;
	font-family: 'Rubik', sans-serif;
}

.notification {
	position: fixed;
	bottom: 20px;
	left: 20px;
	width: 300px;
	max-height: 80px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	color: #000;
	transition: all 0.5s ease-in-out;
	.body {
		display: inline-flex;
		flex-direction: column;
		gap: 5px;
		padding: 10px 15px;
		& > * {
			margin: 0;
			padding: 0;
		}
		h3 {
			font-size: 16px;
		}
		p {
			font-size: 14px;
			span {
				color: #344ddc;
				font-weight: bold;
				cursor: pointer;
			}
		}
	}
}
